# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/
__pycache__
*.pdb

# Virtual environment
.venv/
env/
venv/

# IDE/editor directories and files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python distribution files
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
#  PyInstaller creates a build folder and a dist folder with executables
build/
dist/

# Flask/Django migrations
migrations/

# Log files
*.log

# Environment variables file
.env

# pytest cache directory
.cache/

# .env files for sensitive data
.env.*
*.env.local

# mypy
.mypy_cache/

# Coverage reports
.coverage
.coverage.*


# Celery beat schedule file
celerybeat-schedule

# VSCode specific files
.vscode/settings.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
